<h1>Here we are</h1>

<hr>

<% if user_signed_in? %>

  <p>Welcome <%= current_user.email %></p>

  <%= image_tag current_user.profile_picture.url(:thumb) %></br></br>

  <%= link_to 'VIEW POST', posts_path %></br></br>

  <%= link_to 'Edit Profile', edit_user_registration_path(current_user), :method => :get %></br></br>

  <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>


 <% else %>
  <p>You are not signed in.</p>
  <%= link_to 'Login', new_user_session_path %>

<% end %>
