<h1 style="text-align:center">Our Team</h1>

<div class="content-grid-single">
    <li><%= link_to 'Sherif', profiles_sherif_path %> </li>
    <li><%= link_to 'Kady', profiles_kady_path %></li>
    <li><%= link_to 'Abdelrahman', profiles_abdelrahman_path %></li>
    <li><%= link_to 'Yassin', profiles_yassin_path %></li>
    <li><%= link_to 'Hussein', profiles_hussein_path %></li>
    <li><%= link_to 'Mohamed', profiles_mohamed_path %></li>
    <li><%= link_to 'Aly', profiles_aly_path %></li>
</div>
