<h1>Home</h1>
  
  <%= link_to 'New post', new_post_path %>
  <% if user_signed_in? %>
  <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
  <%end%>
<table>
  <tr>
    <th>Tag</th>
    <th>Text</th>
    <th>Posted By</th>
    <th colspan="10"></th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title[0,30] %></td>
      <td><%= post.body[0,30]%></td>
      <td><%= User.find(post.user_id).email %></td>
  
      <td><%= link_to 'Show', post_path(post) %></td>
      <% if user_signed_in? %>

  <% if post.user_id == current_user.id %>
  <p>
       <td><%= link_to 'Delete post', post_path(post),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
   <%else %>
    <% end%>
      <%end%>
  <% end %>
</table>
<% if user_signed_in? %>
<% else %>
  <p>You are not signed in.</p>
  <%= link_to 'Login', new_user_session_path %>
  <%end%>
