
<!-- <%# if user_signed_in? %> -->
<!-- Handle if user authinticated or admin  -->
<!-- <%#= link_to 'New post', new_post_path %> -->
<!-- this is to include Google Share Button -->
<script src="https://apis.google.com/js/platform.js" async defer></script>


<div class="col-md-8 content-main">

  <div class="content-grid-sec">

  <% if user_signed_in? && current_user.authorized? %>
    <%= link_to 'New' , {:action => 'new'} , :class => 'bttn' %>
  <% end %>

    <% @posts.each do |post| %>
      <div class="content-grid">
        <div class="content-grid-head">

          <!-- FIXME this should be added somehow to the controller -->
          <h4><%=post.created_at%>,Posted by: <a href="#"><%= User.find(post.user_id).email %></a></h4>

          <div class="clearfix"></div>
        </div>
        <div class="content-grid-info">
          <h3><%= link_to post.title , post_path(post) %></h3>
          <p>
            <%= truncate(post.body.html_safe,:length => 1000 , :omission => '...') %>
          </p>
          <div class="social-item">
			<%= content_tag(:div,"",class: 'fb-share-button',data: {href: post_path(post), layout: 'button'}) %>
			<%= content_tag("g:plus","",action: 'share',data: {href: post_path(post), align: 'left'}) %>
          </div>
        </div>
      </div>

      <hr>

    <% end %>
  </div>
</div>

<div class="col-md-4 content-main-right">
  <!-- TODO Search goes here -->
  <div class="search">
    <h3>SEARCH HERE</h3>

  <%= form_tag posts_path, :method => 'get' do %>

    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "", :name => nil %>

  <% end %>

  </div>
 <div class="categories">
 <h3>Categories</h3>
 <ul>
 <% @categ.each do |cat| %>
 <li><%= link_to cat.title, :search => cat.title %></li>
 <% end %>
 </ul>
  <!-- TODO Add categories here -->
  <!-- <div class="categories">
    <h3>CATEGORIES</h3>
    <li class="active"><a href="#">Donec quis dui at dolor tempor</a>
    </li>
    <li><a href="#">Vestibulum commodo felis quis tort</a>
    </li>
    <li><a href="#">Fusce pellentesque suscipit</a>
    </li>
  </div> -->
</div>
  </div>
