<br>

<% if user_signed_in? && current_user.authorized? %>
<h2 style="text-align:center;">New post</h2>

<%= form_for :post, url: posts_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :post %><br>
    <%= f.text_area :body, :class => "tinymce", :rows => 40, :cols => 120 %>
    <%= tinymce %>
  </p>
  <p>
    <%= f.label :videourl %><br>
    <%= f.text_field :videourl %>
  <p>
    <%= f.submit %>
  </p>

<% end %>

  <% elsif user_signed_in? %>
    <!-- Not authorized ? Good luck :( -->
    <h1 style="text-align:center;">Sorry,you don't have permissions to view this page</h1>

    <hr>
    <hr>

    <div style="text-align:center;">
    <%= link_to 'Back', posts_path(@post) , :class => 'bttn' %>
    </div>

 <% else %>
  <!-- Not signed in ? Login first -->
  <h1 style="text-align:center;">You are not signed in.</h1>

  <hr>
  <hr>

  <span style="display:table; margin:0 auto;">
    <%= link_to 'Login', new_user_session_path , :class => 'bttn' , :style => "margin:0 15px 0 0"%>
    <%= link_to 'Back', posts_path(@post) , class: 'bttn' , :style => "margin-left:15px;" %>
  </span>

<% end %>
