<<<<<<< HEAD
<h1>New Post</h1>

<% current_user.authorized = true %>
<% if user_signed_in? %>
<% if current_user.authorized == true %>

<%= form_for :post, url: posts_path do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %> 
  <p>
    <%= f.label :tag %><br>
    <%= f.text_field :title %>
  </p>
  <p> <% current_user.id %></p>
  <p>
    <%= f.label :post %><br>
    <%= f.text_area :body %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
  
<% end %>
 
 <% else %>
<%end%>  
 <% if user_signed_in? %>
 <% if current_user.authorized == false %>

 <p><strong> YOU ARE NOT AUTHORIZED BY THE ADMIN TO MAKE A NEW POST</strong></p>
 <%= link_to 'Back', posts_path(@post) %> 
 <%end %>

 <%else%>
  <%= link_to 'Login', new_user_session_path %>
 <%= link_to 'Back', posts_path(@post) %> 
 <%end%>
<%end %> 


=======
<br>

<% if user_signed_in? && current_user.authorized? %>
<h2 style="text-align:center;">New post</h2>
<h3 background = color blue > </ h3 >
<%= form_for :post, url: posts_path do |f| %>

  <div class="form-input">
    <%= f.label :title , "Title : "%>
    <br>
    <%= f.text_field :title , :class => 'form-control' , :style => "width:75%;" %>

  <br>
  <br>
  <br>


    <%= f.text_area :body, :class => "tinymce", :rows => 40, :cols => 120 %>
    <%= tinymce %>

    <br>

    <%= f.label :videourl , 'Video URL : ' %><br>
    <%= f.text_field :videourl , :class => 'form-control' , :style => "width:75%;" %><br><br>
    <%= f.submit 'Save post' , :class => "btn btn-default"%>

  </div>

<% end %>

  <% elsif user_signed_in? %>
    <!-- Not authorized ? Good luck :( -->
    <h1 style="text-align:center;">Sorry,you don't have permissions to view this page</h1>

    <hr>
    <hr>

    <div style="text-align:center;">
    <%= link_to 'Back', posts_path(@post) , :class => 'bttn' %>
    </div>

 <% else %>
  <!-- Not signed in ? Login first -->
  <h1 style="text-align:center;">You are not signed in.</h1>

  <hr>
  <hr>

  <span style="display:table; margin:0 auto;">
    <%= link_to 'Login', new_user_session_path , :class => 'bttn' , :style => "margin:0 15px 0 0"%>
    <%= link_to 'Back', posts_path(@post) , class: 'bttn' , :style => "margin-left:15px;" %>
  </span>

<% end %>
>>>>>>> 07d8f37859a7f4e90515684fccefc6847f6d2b73
