<!-- this is to include Google Share Button -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 <br>
<p>
  <strong>Text:</strong><br>
  <%= @post.body.html_safe %><br>
  
  	<div class="social-item">
          	<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
			<g:plus action="share" data-href="http://google.com" data-align="left"></g:plus>
<div class="content">
   <div class="container">
     <div class="content-grids">
       <div class="col-md-8 content-main">
         <div class="content-grid">
           <div class="content-grid-head">
             <h3>Post</h3>
              <h4><%=@post.created_at%>,Posted by: <a href="#"><%= User.find(@post.user_id).email %></a></h4>
             <div class="clearfix"></div>
           </div>
              <div class="social-item">
            <%= content_tag(:div,"",class: 'fb-share-button',data: {href: post_path(@post), layout: 'button'}) %>
            <%= content_tag("g:plus","",action: 'share',data: {href: post_path(@post), layout: 'button' }) %>
    </div>
           <div class="content-grid-single">
             <h3><%= @post.title %></h3>
             <p><%= @post.body.html_safe %></p>
              <div class="content-form">
              <% if user_signed_in? %>
               <h3>Leave a comment</h3>
               <%= form_for([@post, @post.comments.build]) do |f| %>
              <p>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              </p>
               <p>
               <%= f.text_area :body %>
                </p>
                <p>
                <%= f.submit %>
                </p>
               <% end %>
               <%= link_to 'Back', posts_path(@post), :class => 'bttn'%>
               <% else %>
               <p>You are not signed in.</p>
               <%= link_to 'Login', new_user_session_path, :class => 'bttn'%>
              <%end%>
              </div>

              <div class="comments">
              <h3>Comments</h3>
               <% @post.comments.each do |comment| %>
                 <% if comment.user_id.to_i != 0 %>
                <div class="comment-grid">
               <img src="\assets\dummypic.png" style="max-height: 80px; max-width: 80px;" />
                 <div class="comment-info">
                 <h4><%=  User.find(comment.user_id).email %></h4>
                 <p><%= comment.body %></p>
                    <% if user_signed_in? %>

                  <% if comment.user_id == current_user.id %>
                   <p>
  <%= link_to 'Delete comment', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
               <%else %>
               <% end %>
</p>

<% end %>

                   
                 </div>
                 <div class="clearfix"></div>
               </div>
               <%end%>
               <% end %>
              </div>
            </div>
           
         </div>            
       </div>
       
       <div class="col-md-4 content-main-right">
         <div class="search">
             <h3>SEARCH HERE</h3>
            <%= form_tag posts_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "", :name => nil %>
         <% end %>
         
         </div>
         <div class="categories">
          <h3>Categories</h3>
        <ul>
       <% @categ.each do |cat| %>
       <li><%= link_to cat.title, :search => cat.title %></li>
       <% end %>
       </ul> 
       </div>
       </div>
       <div class="clearfix"></div>
     </div>
   </div>
</div>

