<!-- this is to include Google Share Button -->
<script src="https://apis.google.com/js/platform.js" async defer></script>



<p>
  <strong>Tag:</strong>
  <%= @post.title %>
</p>
 <br>
<p>
  <strong>Text:</strong><br>
  <%= @post.body.html_safe %><br>

  	<div class="social-item">
          	<%= content_tag(:div,"",class: 'fb-share-button',data: {href: post_path(@post), layout: 'button'}) %>
            <%= content_tag("g:plus","",action: 'share',data: {href: post_path(@post), align: 'left'}) %>
    </div>

  <%# if @post.videourl.length > 0 %>
    <!-- <embed width="420" height="315" src=<%= @post.videourl %> > <br> -->
  <%# end %>

</p>
<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p>
    <strong>Comment by:</strong>
    <%= comment.user_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>


<% if user_signed_in? %>
<h2>Add a comment:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
   <%= f.hidden_field :user_id, :value => current_user.email %>
  </p>
  <p>
    <%= f.label :comment %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>



<%= link_to 'Back', posts_path(@post) %>
<% else %>
  <p>You are not signed in.</p>
  <%= link_to 'Login', new_user_session_path %>
<%end%>
